<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{first_name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Workout:</h3>

    <form class="form new-workout-form">
      <div class="form-group">
        <label for="workout-name">Workout Name:</label>
        <input
          class="form-input"
          type="text"
          id="workout-name"
          name="workout-name"
        />
      </div>
      <div class="form-group">
        <label for="workout-desc">description:</label>
        <textarea
          class="form-input"
          id="workout-desc"
          name="workout-desc"
        ></textarea>
      </div>
      <div>
        <label for="length-days">Length of Days</label>
        <select class="form-select form-select-sm custom-size" id="length-days">
          <option value="1">1 Day</option>
          <option value="2">2 Days</option>
          <option value="3">3 Days</option>
          <option value="4">4 Days</option>
          <option value="5">5 Days</option>
          <option value="6">6 Days</option>
          <option value="7">7 Days</option>
        </select>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if workouts.length}}
    <div class="col-md-6 workout-list">
      <h3>Current Workouts:</h3>

      {{#each workouts as |workout|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h4><a href="/workout/{{workout.id}}">{{workout.title}}</a></h4>
          </div>
          <div class="col-md-4">
            <button
              class="btn btn-sm btn-danger delete-workout"
              data-id="{{workout.id}}"
            >DELETE</button>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>
<script src="/js/profile.js"></script>